{% extends 'base/base.html' %}

{% block page_content %}
    <div class="card shadow mb-4">
       
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Compras</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones:</div>
                    <a class="dropdown-item" href="{% url 'proveedor:compras_new' %}"><i class="far fa-calendar-plus"></i>Nueva</a>
                    <a class="dropdown-item" href="{% url 'proveedor:compras_print_all' %}" target="reportes"><i class="fas fa-print"></i> Listado</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class = "card-body">
            <div class = "row">
                <div class = "col-md-4">
                 <input type = "text" class = "form-class" name = "f1" id = "f1" readonly>
                </div>
                <div class = "col-md-4" >
                 <input type = "text" class = "form-class" name = "f2" id = "f2" readonly>
                </div>
                <div class = " col-md-4 " >
                 <button class = "btn btn-warning" type = "button" id = "btnPrint"> Imprimir </button >
                </div>
            </div>
            <hr>

            {% if not obj %}
                <div class="alert alert-info">No hay Compras</div>
            {% endif %}
            <table class="table table-striped table-hover dt-responsive nowrap" style="width: 100%">
                <thead>
                    <th>id</th>
      		        <th>Fecha</th>
      		        <th>Observacion</th>
                    <th>fecha_ini_timbrado</th>
                    <th>fecha_fin_timbrado</th>
                    <th>No. Timbrado</th>
      		        <th>No. Factura</th>
      		        <th>F. Factura</th>
      		        <th>sub Total</th>
                    <th>Descuento</th>
                    <th>Total</th>
                    <th>Estado</th>
      		        <th class="all">Acciones</th>
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr>
                        <td>{{ item.id }}</td>
      				    <td>{{ item.fecha_compra }}</td>
      				    <td>{{ item.observacion }}</td>
                        <td>{{ item.fecha_ini_timbrado }}</td>
                        <td>{{ item.fecha_fin_timbrado }}</td>
                        <td>{{ item.no_timbrado }}</td>
      				    <td>{{ item.no_factura }}</td>
      				    <td>{{ item.fecha_factura }}</td>
      				    <td>{{ item.sub_total }}</td>
                        <td>{{ item.descuento }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.estado_c|yesno:"Activo, Inactivo" }}</td>
                        <td>
                            <a class="btn btn-warning btn-circle" href="{% url 'proveedor:compras_edit' item.id %}"><i class="far fa-edit" ></i></a>
                            <a class="btn btn-success btn-circle" href="{% url 'proveedor:compras_print_one' item.id %}" target="reportes"><i class="fas fa-print"></i></a>
                            <a class="btn btn-info" href="{% url 'proveedor:nota_credito' item.id %} ">Nota de Crédito</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_page %}
    <script>
        //call the datatables jQuery plugin
        $(document).ready(function () {
            $('.table').DataTable({
                "languaje": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_registros",
                    "sZerorecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningun dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registro del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(Filtrando de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<span class='fa fa-angle-double-left'></span>",
                        "sLast": "<span class='fa fa-angle-double-right'></span>",
                        "sNext": "<span class='fa fa-angle-right'></span>",
                        "sPrevious": "<span class='fa fa-angle-left'></span>"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>

    <script>

    $(function () {

        $("#f1, #f2").datetimepicker({
            format: 'Y-m-d',
            timepicker: false
        });

        $("#btnPrint").click(function(e){
            e.preventDefault();
            var f1,f2;
            f1 = $("#f1").val();
            f2 = $("#f2").val();
            if(f1=="" || f1==null){
                f1="2021-11-01";
            }
            if(f2=="" || f2==null){
                var d = new Date();
                var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
            }
            var url = "imprimir-todas/" + f1 + "/" + f2;

            window.open(url,'compras');
        });
    });
    </script>
{% endblock %}