{% extends 'base/base.html' %}

{% block page_content %}
<form method="POST" class="form-inline">
	{% csrf_token %}
		<div class="col-xl-6 col-md-6 mb-6">
			{% if obj %}
				<div class="card border-left-warning shadow h-100 py-2">
			{% else %}	
			  	<div class="card border-left-succes shadow h-100 py-2">
			{% endif %}
			<div class="card-body">
				<div class="row no-gutters align-items-center">
			 	   <div class="col mr-2">
			    	   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
			     	     	{% if obj %} Editar {% else %} Nuevo Cliente {% endif %} </div>
			       	   		<div class="dropdown-divider"></div>
			        			<div class="row">
			          				 <div class="col-10">
			          					<div class="input-group">
			          						<<p><input type="text" name="cedula" maxlength="100" class="form-control" required="id_cedula" placeholder="Cédula" value="{% if obj %} {{ obj.cedula }} {% endif %}"></p>
			          						<p><input type="text" name="nombre" maxlength="100" class="form-control" required="id_nombre" placeholder="Nombre" value="{% if obj %} {{ obj.nombre }} {% endif %}"></p>
			          						<p><input type="text" name="apellido" maxlength="100" class="form-control" required="id_apellido" placeholder="Apellido" value="{% if obj %} {{ obj.apellido }} {% endif %}"></p>
			          						<p><input type="text" name="ruc" maxlength="100" class="form-control" required="id_ruc" placeholder="RUC" value="{% if obj %} {{ obj.ruc }} {% endif %}"></p>
			          						<p><input type="text" name="email" maxlength="100" class="form-control" required="id_email" placeholder="Email" value="{% if obj %} {{ obj.email }} {% endif %}"></p>
			          						<p><input type="text" name="telefono" maxlength="100" class="form-control" required="id_telefono" placeholder="Tel/Cel" value="{% if obj %} {{ obj.telefono }} {% endif %}"></p>
			          						<p><input type="text" name="direccion" maxlength="100" class="form-control" required="id_direccion" placeholder="Dirección" value="{% if obj %} {{ obj.direccion }} {% endif %}"></p>   
			          					</div>  
			          				</div> 
			        			</div>
			        		<div class="dropdown-divider"></div>
			        			<div class="row">
			        				<div class="col">
			        					<button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
			        					<a href="{% url 'Clientes:cliente_list' %}" class="btn btn-succes"><span class="fa fa-undo"></span>Cancelar</a>
			        			</div>
			        		</div>
			     	  </div>
			    </div>
			</div>
		</div>
	</div>
</form>

{% endblock %}



{% block js_page %}
{% endblock %}