<!-- {% extends 'base/base.html' %}

{% block page_content %}  -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
    {% if obj %}
    <form method="POST" role="form" class="form-inline" action="{% url 'ventas:caja_edit' obj.pk %}">
    {% else %} 
    <form method="POST" role="form" class="form-inline" action="{% url 'ventas:caja_new' %}">
    {% endif %}
    <!--{% csrf_token %} -->
        <div class="col-xl-12 col-md-12 mb-12">
            {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
            {% else %}  
                <div class="card border-left-succes shadow h-100 py-2">
            {% endif %}
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                   <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevo Registro De Caja {% endif %} </div>
                            <div class="dropdown-divider"></div>
                            {% csrf_token %}
                                <div class="row">
                                    <div class="input-group">
                                            <p><input type="number" name="apertura" maxlength="100" class="form-control" required="id_apertura" placeholder="Apertura" value="{% if obj %} {{ obj.apertura }} {% endif %}"></p>
                                        </div>  
                                        <div class="input-group">
                                            <p><input type="number" readonly name="sub_total" maxlength="100" class="form-control" required="id_sub_total" placeholder="Recaudacion Diaria" value="{% if obj %} {{ obj.sub_total }} {% endif %}"></p>
                                        </div>
                                        <div class="input-group">
                                            <p><input type="number" name="total" readonly maxlength="100" class="form-control" required="id_total" placeholder="Total" value="{% if obj %} {{ obj.total }} {% endif %}"></p>
                                        </div>
                                </div>
                            <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                    <!--<a href="{% url 'productos:producto_list' %}" class="btn btn-succes"><span class="fa fa-undo"></span>Cancelar</a> -->
                                    <button type="submit" class="btn btn-success" onclick="return cerrar_modal()" >
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</form>
    </div>
</div>

<!--
{% endblock %}



{% block js_page %}
{% endblock %} -->