{% extends 'base/base.html' %}

{% block page_content %}
<form method="post" id="frmOrdenFacturas">
    {% csrf_token %}
<div class="card shadow mb-4">
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<a href="#" class="btn btn-danger">Guardar</a>
		<a href="{% url 'ventas:orden_factura_list' %}" class="btn btn-info">Cancelar</a>
	</div>
	<div class="card-body">
		<div class="content">
			<!-- Seccion Superior -->
			<div class="row">
				<!-- Seccion Izquierda -->
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-2.5">Nro.</div>
						<div class="col-lg-4">
							<input type="text" type="text" size=20 style="width:150px" name="enc_id" id="enc_id" readonly class="form-control">
						</div>
						<div class="col-lg-1">Client</div>
						<div class="col-lg-5 form-group">
							<select name="enc_cliente" id="enc_cliente">
								<option value="0">Seleccione Cliente</option>
								{% for item in clientes %}
									<option value="{{item.id}}">{{ item.nombre }} {{ item.apellido }} </option>
								{% endfor %} 
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-8 p-2">
							<div class="col-lg-11 p-2 form-group">
							<!--	<div class="row">
									<div class="col-lg-2">Fecha:</div>
									<div class="col-lg-8 form-group">
										<input type="text" name="fecha" id="fecha" class="form-control form-control-user"
										value="{{ enc.fecha|date:'Y-m-d'}}" readonly />
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2">Sub Tot:</div>
									<div class="col-lg-8">
										<input type="number" class="form-control text-rigth" value="0.00" readonly name="sub_total" id="sub_total">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">Descuento:</div>
									<div class="col-lg-8">
										<input type="number" class="form-control text-rigth" value="0.00" disabled name="descuento" id="descuento">
									</div>
								</div> -->
								<div class="row">
									<div class="col-lg-2">Total:</div>
									<div class="col-lg-8">
										<input type="number" class="form-control text-rigth" value="0.00" disabled name="total" id="total">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fin Seccion Izquierda -->


				<!-- Seccion Derecha -->
				<div class="col-lg-6 from-group">
                    <div class="row p-2">
                        <div class="col-lg-1">Cod</div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="codigo" id="codigo" placeholder="Cód. Producto">
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" name="producto" id="product_name" placeholder="Producto" disabled> 
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-info" id="btnBuscar">
                                <i class="fab fa-searchengin"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-lg-1">Cant</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad">
                            <input type="hidden" class="form-control" name="existencia" id="existencia">
                        </div>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" name="precio" id="precio_venta" placeholder="Precio" readonly>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-danger" id="btnGuardar"> <i class="far fa-plus-square"></i> </button>
                        </div>
                    </div>
                    <!--<div class="row p-2">
                        <div class="col-lg-1 text-right">Sub Total</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="sub_total_detalle" id="sub_total_detalle" placeholder="Sub Total"
                             readonly>
                        </div>
                    </div>-->
                    <div class="row p-2">
                        <div class="col-lg-1 text-right">Total</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="total_detalle" id="total_detalle" placeholder="Total"
                             readonly>
                        </div>
                    </div> 
                </div>
				<!-- Fin Seccion Derecha -->
			</div>
			<!-- Fin Seccion Superior -->

			<!-- Inicio Detalle -->
			<hr>
			<div class="row p-1">
                <div class="col-lg-12">
                    <table
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-columns="true"
                        data-show-toggle="true"
                        data-show-fullscreen="true"
                        data-locale="es-NI"
                        >
			        <thead>
			        	<th data-sortable="true" data-field="id">Id.</th>        
                       	<th data-sortable="true" data-field="codigo">Codigo</th>
                        <th data-sortable="true" data-field="product_name">Producto</th>
                        <th data-field="cantidad">Cant</th> 
                    <!--    <th data-field="sub_total">S. Total</th> -->
                        <th data-field="total">Total</th>
                        <th class="all">Opciones</th>
			        </thead>
			        <tbody>
			          	{% for item in obj %}
            			<tr>
			              <td>{{ item.id }}</td>
			              <td>{{ item.producto }}</td>
			              <td>{{ item.producto.product_name }}</td>
			              <td>{{ item.cantidad }}</td> 
			            <!--  <td>{{ item.sub_total }}</td> -->
			              <td>{{ item.total }}</td>
			           	  <td>
			           	  		<button class="btn btn-warning btn-circle"><i class="far fa-edit"></i></button>
			           	  </td>
            			</tr> 
            			{% endfor %}
         			</tbody>
                  </table> 
                 <!-- <table class="table table-striped table-hover" >
      				<thead>
      				<th>id</th>
      				<th>Codigo</th>
      				<th>Descripcion</th>
      				<th>Cantidad</th>
      				<th>S. Total</th>
      				<th>Total</th>
      				<th class="all">Opciones</th>
      			</thead>
      			<tbody>
      				{% for item in obj %}
      				<tr>
      					<td>{{ item.id }}</td>
      					<td>{{ item.cliente }}</td>
      					<td>{{ item.total }}</td>
      				</tr>
      				{% endfor %}
      			</tbody>
      		</table>-->
                </div>
			</div>
			<!-- Fin Detalle -->
		</div>
	</div>
</div>
</form>


{% endblock %}

{% block js_page %}
<script>
    function calcular_detalle()
    {
        var cant,prec,desc,stotal,total;

        cant = $("#cantidad").val();
        cant = cant==="" ? 0 : +cant;
        cant = cant<0 ? 0 : cant;

        prec =$('#precio_venta').val();
        prec = prec==="" ? 0 : +prec;
        prec = prec<0 ? 0 : prec;

        //desc = $('#descuento_detalle').val();
        //desc = desc==="" ? 0 : +desc;
        //desc = desc<0 ? 0 : desc;

        //desc = desc>(cant * prec) ? 0 : desc;

        stotal = cant * prec;
        total  = stotal;

        $('#cantidad').val(cant);
        $('#precio').val(prec);
    //    $('#sub_total_detalle').val(stotal);
        $('#total_detalle').val(total);

        console.log("Cantidad " + cant);
        console.log("prec " + prec);

        console.log("sub_total_detalle " + $('#sub_total_detalle').val());
        console.log("total_detalle " + $('#total_detalle').val());
        //console.log("sub_total_detalle " + stotal);

    }

	function buscarProducto()
    {
        if ($("#enc_cliente").val()==="0" || $("#enc_cliente").val()===null){
            mensaje("Cliente No Seleccionado",'red');
            return false;
        }

        var codigo = $("#codigo").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:producto_list' %}" + codigo;

        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                console.log(r.existencia);
                console.log(r.estado);

           /*     if(r.existencia<=0 ){
                    mensaje("Producto No Tiene Existencia o está inactivo",'orange')
                    $("#codigo").val("");
                    //$("#descripcion").val("");
                    $("#precio_venta").val("0.00");
                    $("#codigo").focus();
                    return false;
                }*/

                $("#codigo").val(r.codigo);
                $("#product_name").val(r.product_name);
                $("#precio_venta").val(r.precio_venta);
                $("#existencia").val(r.existencia);
                $("#cantidad").focus();

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Producto -" + codigo + "- No Encontrado o No Existe",'red');
                    $("#codigo").val("");
                    //$("#descripcion").val("");
                    $("#precio_venta").val("0.00");
                    $("#codigo").focus();
             
  				 }

    	}
	});

 }

	$(function() {
		$("#sidebarToggle").click();
		$("#enc_cliente").select2({
			placeholder:"Seleccione Cliente",
			allowClear:true
		});

		$("#btnBuscar").click(function(){
			if ($("#enc_cliente").val()==="0"){
            	mensaje("Cliente No Seleccionado",'red');
				return false;
			}

           abrir_modal("{% url 'ventas:factura_producto' %}");
        });

        $("#codigo").keypress(function(e){
            if(e.keyCode===13){
                e.preventDefault();
                buscarProducto();
            }
       });

        $('#cantidad,#precio').change(function(){
            calcular_detalle();
        });

        $("#enc_id").val("{{ enc.id }}");
        $("#enc_cliente").val("{{ enc.cliente.id }}").change();
    //    $("#fecha").val("{{ enc.fecha|date:'Y-m-d' }}");
    //    $("#sub_total").val("{{ enc.sub_total }}");
        //$("#descuento").val("{{ enc.descuento }}");
        $("#total").val({{ enc.total }});
	});

	
</script>
{% endblock %}