{% extends 'base/base.html' %} 

{% block page_content %}
<form method="post" id="frmTop">
    {% csrf_token %}
    <div class="card shadow mb-4">
       
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Productos mas vendidos </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones:</div>
                    <a class="dropdown-item" href="{% url 'proveedor:compras_new' %}"><i class="far fa-calendar-plus"></i>Nueva</a>
                    <a class="dropdown-item" href="{% url 'proveedor:compras_print_all' %}" target="reportes"><i class="fas fa-print"></i> Listado</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class = "card-body">
            <hr>
            <div class="row">
                <div class="col-lg-1">Fecha Incio:</div>
                <div class="col-lg-3">
                    <input type="date" class="form-control text-right" value="" data-date-format="y-m-d" 
                        name="fecha_inicio" id="fecha_inicio">
                </div>

                <div class="col-lg-1">Fecha Fin:</div>
                <div class="col-lg-3">
                    <input type="date" class="form-control text-right" value="" data-date-format="y-m-d" 
                        name="fecha_fin" id="fecha_fin">
                </div>
                <hr>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-danger" id="btnGuardar"> Ver Listado <i class="far fa-plus-square"></i> </button>
                </div>
            </div>
            {% if not obj %}
                <div class="alert alert-info">No hay Ventas</div>
            {% endif %}
            <table 
                id="table"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                data-show-columns="true"
                data-show-toggle="true"
                data-show-fullscreen="true"
                data-toolbar=".buttons-toolbar"
                data-locale="es-NI"
            >
            <thead>
                <th data-sortable="true" data-field="id">Nombre Producto</th>
                <th data-sortable="true" data-field="cedula">Cantidad Vendida</th>
            </thead>
            <tbody>
                {% for item in obj%}
                    <tr>
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}

{% block js_page %}
    <script>
        //call the datatables jQuery plugin 
    </script>

    <script>
    $(function () {
        $("#frmTop").submit(function(e) {
            if ($("#fecha").val() == "") {
                e.preventDefault()
                $.alert({
                    type: 'red',
                    title: '',
                    content: 'Debe Especificar Fecha'
                });
                return false;
            }
        });
    });
    </script>
{% endblock %}